
button{
  position: fixed;
  left:3%;
  z-index:11
}

img{
  position: fixed;
  margin:0 auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index:11
}


.body{
  height:100vh;
  background-color: #032539;
  background-image: url("../../../assets/images/Home/bg.jpg");
  background-size:cover;

}
