<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <!-- <app-header></app-header> -->
<div class="body">
    <div class="create-campaign-container">
      <div class="title">NEW CAMPAIGN</div>
      <div class="subtitle">INSTAGRAM</div>
      <hr>
<div class="createCampaignContainer">

  <form class="row" (ngSubmit)="AddIgDet(ig_posts_imgs.value, ig_posts_vids.value, ig_stories_imgs.value, ig_stories_vids.value, ig_reels.value, ig_reel_duration.value, ig_hashtags.value, ig_tags.value)">

    <!-- <input #campaign_id class="form-control" id="floatingInput" placeholder=" "> -->
    <div class="col-sm-12 col-lg-4">
      <div class="input-group">
        <span class="input-group-text col-sm-12">Posts</span>
        <div class="form-floating mb-3">
          <input #ig_posts_imgs class="form-control" id="floatingInput" placeholder=" ">
          <label for="floatingInput">Images count</label>
        </div>
        <div class="form-floating mb-3">
          <input #ig_posts_vids class="form-control" id="floatingInput" placeholder=" ">
          <label for="floatingInput">Videos count</label>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-lg-4">
      <div class="input-group">
        <span class="input-group-text col-sm-12">Stories</span>
        <div class="form-floating mb-3">
          <input #ig_stories_imgs class="form-control" id="floatingInput" placeholder=" ">
          <label for="floatingInput">Images count</label>
        </div>
        <div class="form-floating mb-3">
          <input #ig_stories_vids class="form-control" id="floatingInput" placeholder=" ">
          <label for="floatingInput">Videos count</label>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-lg-4">
      <div class="input-group">
        <span class="input-group-text col-sm-12">Reels</span>
        <div class="form-floating mb-3">
          <input #ig_reels class="form-control" id="floatingInput" placeholder=" ">
          <label for="floatingInput">Count</label>
        </div>
        <div class="form-floating mb-3">
          <input #ig_reel_duration class="form-control" id="floatingInput" placeholder=" ">
          <label for="floatingInput">Duration</label>
          <br>
        </div>

      </div>
    </div>


      <div class="col-sm-12 col-lg-6">
        <div class="input-group">
          <span class="input-group-text col-sm-12">Hashtags</span>
          <div class="">
            <textarea #ig_hashtags class="form-control" id="details" cols=200 rows=6 placeholder="Enter hashtages here..."></textarea>
            <label for="floatingInput"></label>
            <br> <br>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-lg-6">
        <div class="input-group">
          <span class="input-group-text col-sm-12">Tags</span>
          <div class="">
            <textarea #ig_tags class="form-control" id="details" cols=200 rows=6 placeholder="Enter tags here..."></textarea>
            <label for="floatingInput"></label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div >
          <input type="submit" value="Continue" class="btn submitOne" >
        </div>
        </div>

  </form>
</div>
</div>

</div>

<app-footer></app-footer>

</body>
</html>
