<br /> <br /> <br />
<h3>CREATE CAMPAIGN</h3>
<div class="createCampaignContainer">

  <div class="progressBar">
    <div class="oneStep" id="icon-1">
      <button class="progressBtn activeStep"><img class ="progressIcon activeIcon" src="assets/Icons/campaign-1.png"></button>
      <!-- <label class="progressText">TEXT</label> -->
      <p class="activeLine"></p>
    </div>
    <div class="oneStep" id="icon-2" >
      <button class="progressBtn activeStep"><img class ="progressIcon activeIcon" src="assets/Icons/campaign-2.png"></button>
      <!-- <label class="progressText">TEXT</label> -->
      <p class="inActiveLine"></p>
    </div>
    <div class="oneStep" id="icon-3">
      <button class="progressBtn" ><img class ="progressIcon" src="assets/Icons/campaign-3.png"></button>
      <!-- <label class="progressText">TEXT</label> -->
    </div>
  </div>


  <form class="row g-3">

  <h5>Posts</h5>
    <div class="col-md-3 mt-0">
      <label for="p-img-count" class="form-label">Images Count</label>
      <input type="number" class="form-control" id="p-img-count" />
    </div>

    <div class="col-md-3 mt-0">
      <label for="p-vid-count" class="form-floating  form-label">Videos Count</label>
      <input type="number" class="form-control" id="p-vid-count"/>
    </div>

<h5>Stories</h5>
    <div class="col-md-3 mt-0">
      <label for="s-img-count" class="form-label">Images Count</label>
      <input type="number" class="form-control" id="s-img-count" />
    </div>

    <div class="col-md-3 mt-0">
      <label for="s-vid-count" class="form-floating  form-label">Videos Count</label>
      <input type="number" class="form-control" id="s-vid-count"/>
    </div>

    <div class="col-md-3 mt-0">
      <label for="hashtags" class="form-floating  form-label">Hashtags</label>
      <input type="text" class="form-control" id="hashtags"/>
    </div>

    <div class="col-md-3 mt-0">
      <label for="tags" class="form-floating  form-label">Tags</label>
      <input type="text" class="form-control" id="tags"/>
    </div>

    <div class="col-md-6 me-2">
      <label for="details" class="form-label">Description</label>
      <textarea class="form-control" id="idetails" cols=200 rows=6></textarea>
    </div>



  </form>
</div>
