<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <!-- <app-header></app-header> -->
<div class="body">
    <div class="create-campaign-container">
      <div class="title">NEW CAMPAIGN</div>
      <div class="subtitle">TIKTOK</div>
      <hr>

<div class="createCampaignContainer">

  <form class="row" (ngSubmit)="AddTTDet(tt_posts_imgs.value, tt_posts_vids.value, tt_stories_imgs.value, tt_stories_vids.value, tt_vids.value, tt_vids_duration.value, tt_hashtags.value, tt_tags.value)">

    <div class="col-sm-12 col-lg-4">
      <div class="input-group">
        <span class="input-group-text col-sm-12">Posts</span>
        <div class="form-floating mb-3">
          <input #tt_posts_imgs type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Images count</label>
        </div>
        <div class="form-floating mb-3">
          <input #tt_posts_vids type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Videos count</label>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-lg-4">
      <div class="input-group">
        <span class="input-group-text col-sm-12">Stories</span>
        <div class="form-floating mb-3">
          <input #tt_stories_imgs type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Images count</label>
        </div>
        <div class="form-floating mb-3">
          <input #tt_stories_vids type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Videos count</label>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-lg-4">
      <div class="input-group">
        <span class="input-group-text col-sm-12">Videos</span>
        <div class="form-floating mb-3">
          <input #tt_vids type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Count</label>
        </div>
        <div class="form-floating mb-3">
          <input #tt_vids_duration type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Duration</label>
          <br>
        </div>

      </div>
    </div>


      <div class="col-sm-12 col-lg-6">
        <div class="input-group">
          <span class="input-group-text col-sm-12">Hashtags</span>
          <div class="">
            <textarea #tt_hashtags class="form-control" id="idetails" cols=200 rows=6 placeholder="Enter hashtages here..."></textarea>
            <label for="floatingInput"></label>
            <br> <br>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-lg-6">
        <div class="input-group">
          <span class="input-group-text col-sm-12">Tags</span>
          <div class="">
            <textarea #tt_tags class="form-control" id="idetails" cols=200 rows=6 placeholder="Enter tags here..."></textarea>
            <label for="floatingInput"></label>
          </div>
        </div>
      </div>


      <div class="form-group">
        <div >
          <input type="submit" value="Continue" class="btn submitOne" >
        </div>
        </div>

  </form>

</div>
</div>

</div>

<app-footer></app-footer>
</body>
</html>





