<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<div class="createCampaignContainer">

  <form class="row">

    <div class="col-sm-12 col-lg-4">
      <div class="input-group">
        <span class="input-group-text col-sm-12">Posts</span>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Images count</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Videos count</label>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-lg-4">
      <div class="input-group">
        <span class="input-group-text col-sm-12">Stories</span>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Images count</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Videos count</label>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-lg-4">
      <div class="input-group">
        <span class="input-group-text col-sm-12">Videos</span>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Count</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Duration</label>
          <br>
        </div>

      </div>
    </div>


      <div class="col-sm-12 col-lg-6">
        <div class="input-group">
          <span class="input-group-text col-sm-12">Hashtags</span>
          <div class="">
            <textarea class="form-control" id="idetails" cols=200 rows=6 placeholder="Enter hashtages here..."></textarea>
            <label for="floatingInput"></label>
            <br> <br>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-lg-6">
        <div class="input-group">
          <span class="input-group-text col-sm-12">Tags</span>
          <div class="">
            <textarea class="form-control" id="idetails" cols=200 rows=6 placeholder="Enter tags here..."></textarea>
            <label for="floatingInput"></label>
          </div>
        </div>
      </div>


  </form>


</div>
</body>
</html>





