body {
  border-radius: 0px 20px 20px 0px;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #032539;
  min-height: 100vh;
}

.create-campaign-container {
  position: relative;
  width: 65%;
  border-radius: 15px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  padding: 40px;
  margin:35px 0px;
  /* background-color: #032539; */
}

.title {
  text-align: center;
  padding: 20px;
  font-size: 22px;
  color: white;
  letter-spacing: 3px;
}

.createCampaignContainer {
  padding: 45px 45px 45px 45px;
  background-color: white;
  border-radius: 0px 20px 20px 0px;
  color: #1c768f;
}

.subtitle {
  font-size: 19px;
  color: rgb(182, 182, 182);
  letter-spacing: 3px;
}

hr {
  color: transparent;
  position: relative;
  border-bottom: 3px solid white;
  height: 5px;
  width: 50%;
  margin-top: 0px;
}


.text{
  background-color: white;
  border:none;
  border-left: 4px solid #fa991c;
  border-radius: 9px;
  padding:9px;
}

  p::first-letter{
    text-transform:capitalize;
  }

 .fees{
  color: rgb(133, 133, 133);
 }

  .submitOne {
    border-radius: 50px;
    border: none;
    background-color: #fa991c;
    color: #fff;
    font-weight: 600px;
    text-align: center;
    width:200px;
    margin: 30px auto;
    transition: 0.5s;
  }

  .submitOne:hover {
    background-color: #c4750f;
  }


  .btns{
    margin: 0px auto;
    text-align: center;
  }

  .btn {
    margin-bottom: 10px;
    border-radius: 50px;
    border: none;
    background-color: #fa991c;
    color: #fff;
    font-weight: 600px;
    width:200px;
    transition: 0.5s;
    cursor: pointer;
    margin: 0 10px;
  }

  h5{
    font-size: 19px;
    letter-spacing: 3px;
    color:#fa991c
  }

  @media screen and (max-width: 991px) {
    .create-campaign-container {
      width: 93%;
    }

    .subtitle {
      text-align: center;
    }

    hr {
      border: none;
    }

    .title {
      font-size: 25px;
      letter-spacing: 5px;
      margin-bottom: 10px;
    }
  }

