.footer-parent{
    background-color:#032539 ;
}
.footer-container{
    width: 70%;
    margin: 0px auto;
    padding: 80px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-image  img{
  margin-bottom: 25px;
}

.footer-content h1{
    color: #fff;
    width: 100%;
    text-align: center;
    letter-spacing: 1.2;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-content p {
    color: #fff;
  }

.social-media-item{
   margin: 0px auto;
   margin-top:30px;
   display: flex;
   justify-content: space-between;
}

.social-media-item a {
    width: 35px;
    cursor: pointer;
}

.social-media-item a:hover {
    transform: scale(1.1);
}
.social-media-item a img {
    width: 100%;
    height: 100%;
    filter:invert();
}

.footer-tabs{
    margin-top: 50px;
}

.footer-tabs ul{
    color: white;
}

.footer-tabs ul li{
    list-style: none;
    margin: 10px 0;
}

.footer-tabs ul li:first-of-type{
    font-size: larger;
    font-weight: bold;
}

.footer-tabs ul li a{
    text-decoration: none;
    color: whitesmoke;
}

.footer-tabs ul li a:hover {
    color: #fa991c;
}


.footer-tabs ul li:hover {
transform: translateX(2px);
}

.footer-tabs ul li:first-of-type:hover{
    transform: translateX(0);
}

.footer-end{
    width: 100%;
    margin-top: 30px;
    color: white;
    justify-content: space-around;
}
