<div class="footer-parent">
  <div class="footer-container">
    <div class="footer-image col-lg-2">
      <img
        src="../../../assets/images/footer/Google_Icons-09-512.webp"
        alt=""
      />
    </div>
    <div class="footer-content col-lg-6">
      <h1 style="color: #fa991c">INFLUENZ</h1>
      <p>
        Lorem ipsum dolor, sit ame Atque accusantium temporibus facilis magni,
        nihil a maiores quos voluptatibus provident
      </p>
      <div class="social-media-item">
        <a href="#facebook-link"
          ><img src="../../../assets/images/footer/facebook.svg" alt=""
        /></a>
        <a href="#twitter-link"
          ><img src="../../../assets/images/footer/twitter.svg" alt=""
        /></a>
        <a href="#instagram-link"
          ><img src="../../../assets/images/footer/instagram.svg" alt=""
        /></a>
        <a href="#linkedin-link"
          ><img src="../../../assets/images/footer/linkedin.svg" alt=""
        /></a>
      </div>
    </div>
    <div class="footer-tabs">
      <ul>
        <li>Advertisers</li>
        <li><a href="">Pricing</a></li>
        <li><a href="">Case Studies</a></li>
        <li><a href="">Advertiser FAQ</a></li>
      </ul>

      <ul>
        <li>Influencers</li>
        <li><a href="">Community</a></li>
        <li><a href="">Influencer FAQ</a></li>
        <li><a href="">Influencer Guidelines</a></li>
        <li><a href="">Influencer Sign Up</a></li>
      </ul>

      <ul>
        <li>Solutions</li>
        <li><a href="">Services</a></li>
        <li><a href="">Software</a></li>
        <li><a href="">API</a></li>
        <li><a href="">Fraud Detection</a></li>
      </ul>

      <ul>
        <li>Contact</li>
        <li><a href="">Email:team@blabla.com</a></li>
        <li><a href="">Careers</a></li>
      </ul>
    </div>
    <div class="footer-end row">
      <div class="col-lg-4">© 2022. All Rights Reserved.</div>
      <div class="col-lg-4 text-end">Design: Moghazy</div>
    </div>
  </div>
</div>
