<div class="footer-parent">
    <div class="footer-container row">
        <div class="footer-image col-lg-2">
            <img src="assets/images/Home/nav logo.PNG" width="120" alt="Logo">
        </div>
        <div class="footer-content col-lg-6">
            <p>
                Create the perfect campaign for your product.
            </p>
            <div class="social-media-item col-sm-9 col-lg-6">
                <a href="#facebook-link"><img src="assets/images/footer/facebook.svg" alt=""></a>
                <a href="#twitter-link"><img src="assets/images/footer/twitter.svg" alt=""></a>
                <a href="#instagram-link"><img src="assets/images/footer/instagram.svg" alt=""></a>
                <a href="#linkedin-link"><img src="assets/images/footer/linkedin.svg" alt=""></a>
            </div>
        </div>

        <div class="footer-tabs row">
            <ul class="col-sm-6 col-lg-3">
                <li>Advertisers</li>
                <li><a href="">Pricing</a></li>
                <li><a href="">Case Studies</a></li>
                <li><a href="">Advertiser FAQ</a></li>
            </ul>

            <ul class="col-sm-6 col-lg-3">
                <li>Influencers</li>
                <li><a href="">Community</a></li>
                <li><a href="">Influencer FAQ</a></li>
                <li><a href="">Influencer Guidelines</a></li>
                <li><a href="">Influencer Sign Up</a></li>
            </ul>

            <ul class="col-sm-6 col-lg-3">
                <li>Solutions</li>
                <li><a href="">Services</a></li>
                <li><a href="">Software</a></li>
                <li><a href="">API</a></li>
                <li><a href="">Fraud Detection</a></li>
            </ul>

            <ul class="col-sm-6 col-lg-3">
                <li>Contact</li>
                <li><a href="">Email: team@influenz.com</a></li>
                <li><a href="">Careers</a></li>
            </ul>

        </div>



        <div class="footer-end row text-center">
            <div class="col-lg-5"> © 2022. All Rights Reserved.</div>
        </div>
    </div>
</div>
