<div class="container">
  <h1 class="m-4 text-center">Influencers Payments</h1>
  <div class="table-responsive-md">
    <table class="table table-hover bg-light rounded-4 text-center">
      <thead>
        <tr>
          <th>ID</th>
          <th>Created At</th>
          <th>Campaign</th>
          <th>Influencer</th>
          <th>Successful</th>
          <th>Amount</th>
          <th>Service Fee</th>
          <th>VAT</th>
          <th>Total Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>Data</td>
          <td>Data</td>
          <td>Data</td>
          <td>Data</td>
          <td>Data</td>
          <td>Data</td>
        </tr>
        <tr>
          <th>2</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>Data</td>
          <td>Data</td>
          <td>Data</td>
          <td>Data</td>
          <td>Data</td>
          <td>Data</td>
        </tr>
        <tr>
          <th>3</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>Data</td>
          <td>Data</td>
          <td>Data</td>
          <td>Data</td>
          <td>Data</td>
          <td>Data</td>
        </tr>
        <tr>
          <th>4</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>Data</td>
          <td>Data</td>
          <td>Data</td>
          <td>Data</td>
          <td>Data</td>
          <td>Data</td>
        </tr>
        <tr>
          <th>5</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>Data</td>
          <td>Data</td>
          <td>Data</td>
          <td>Data</td>
          <td>Data</td>
          <td>Data</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
