<body>

  <nav class="navbar navbar-dark fixed-top navbar-expand-lg p-3">
    <div class="container-fluid">
      <a class="navbar-brand ps-2" href=" ">
        <img src="assets/images/Home/nav word logo.PNG" alt="logo" width="120">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0 gap-lg-5">
          <li class="nav-item">
            <a
              class="nav-link mt-3"
              aria-current="page"
              routerLinkActive="activeLinkClass"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink="/profile"
              >Profile</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link mt-3" aria-current="page" href="#getToKnowUs">Get to know Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mt-3 " href="#whyInfluenz">Why Influenz</a>
          </li>
          <li class="nav-item dropdown">
            <a type="nav-link"
            class="nav-link dropdown-toggle mt-3"
            data-toggle="dropdown" href="#">
            Services
          </a>
        <div class="dropdown-menu ms-3">
          <a class="dropdown-item" href="#serviceOne">
             For Brands
          </a>
          <a class="dropdown-item" href="#serviceTwo">
             For Influencers
          </a>
        </div>
        </li>

          <li class="nav-item">
            <a class="nav-link mt-3 " href="#contact">Contact Us</a>
          </li>
        </ul>

        <form class="d-flex gap-3" role="search">
          <button class="btn text-light mt-3 btn-lg nav-link fs-5 fw-bold" type="submit" routerLinkActive="activeLinkClass" [routerLinkActiveOptions]= "{exact:true}" routerLink="/auth">Log In</button>
          <button class="btn btn-outline-warning mt-3 btn-lg" type="submit" routerLinkActive="activeLinkClass" [routerLinkActiveOptions]= "{exact:true}" routerLink="/auth">Get Started</button>
        </form>
      </div>
    </div>
  </nav>

<div class="logoContainer">

<img class="centeredLogo" src="assets/images/Home/logo centered.PNG">

<p class="slogan mt-3 fst-italic">Your product will reach everywhere</p>


</div>

<div class="getToKnowUs container-fluid shadow w100 m-auto mt-3 p-5 col-sm-11 col-lg-10" id="getToKnowUs">
  <div class="row">
    <h3>
      Get to know us
    </h3>
<br> <br>
<p class="lead title-textIn col-sm-12">Obcaecati dolorem aperiam, nostrum nemo cum adipisci sunt maxime. Accusamus, provident odit odio quod ipsam magni a harum. Ipsam atque adipisci perspiciatis.</p>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, dolores accusantium. Consectetur doloribus autem explicabo maxime voluptatum. Facere et, dolorum doloremque, deleniti vitae eius commodi tempore accusamus iure assumenda repellat!</p>

  <button class="learnMore-btn ">Learn more</button>
    </div>
  </div>
<br>


  <blockquote class="blockquote col-sm-12 col-lg-10 m-auto"><p> Discover the Best Ways to Utilize Influencer Merketing on One of the Leading Platforms in the Middle East.</p></blockquote>


<div class="whyInfluenz container-fluid shadow w100 m-auto mt-3 p-5 col-sm-11 col-lg-10" id="whyInfluenz">
  <div class="row">
    <h3>
      Why Influenz?
    </h3>
<br>
<p class="lead fs-4">Influenz enables world-class original influencer campaigns for leading brands on more than one platform. It's an oppurtunity for both brands and influencers!
</p>
<p>
  Do you have a hard time connecting your brand with more prospects? An influencer can take care of that for you.

Finding the right one for your business isn’t that hard neither, thank to Influenz! With us, you can enjoy added perks when searching for influencers.</p> <p>You can set filters and browse through different categories with ease.
You can talk to influencers directly.
You can begin campaigns with your preferred influencers.
You can choose the type of payment method of your choice.</p>

    </div>
  </div>
<br>

<div class="services container-fluid shadow w100 m-auto mt-3 p-5 col-sm-11 col-lg-10">
  <div class="row">
    <h3>
      Services
    </h3>
<br> <br>

      <h5 id="serviceOne">FOR BRANDS</h5>
      <p class="lead service col-sm-12 col-lg-6">At Influenz we help you Discover the Power of AI-Driven Influencer Commerce Platforms. Revolutionizing Influencer Marketing with a data-led integrated platform that helps deliver exceptional customer experiences and amplified business revenues.</p>
      <img src="assets/images/placeholder-image-campaigns.png" class="col-sm-12 col-lg-6 mb-4">

      <button class="learnMore-btn ">Learn more</button>

        <h5 id="serviceTwo">FOR INFLUENCERS</h5>
        <p class="lead service col-sm-12 col-lg-6">Unlock the value of your social influence with Influenz.
          The next brand influencer is you! Work with the world’s leading brands and monetize your passion for online content by joining our influencer community. Influenz helps you understand your audience better to unlock your earning potential!</p>
        <img src="assets/images/placeholder-image-campaigns.png" class="col-sm-12 col-lg-6 mb-4">


    </div>
  </div>
<br>


<div class="team d-flex justify-content-center gap-5 row container-fluid m-auto my-5 col-sm-12 col-lg-10">

  <h3 class="meetTeam">
    Meet the Team
  </h3>

  <div class="col-sm-3 col-lg-3">
  <img src="assets/images/Home/waheed.jpeg" >
  <p>Ahmed Waheed</p>
  </div>

  <div class="col-sm-3 col-lg-3">
    <img src="assets/images/Home/rojeh.jpeg" >
    <p>Rojeh Bahgat</p>
    </div>

    <div class="col-sm-3 col-lg-3">
      <img src="assets/images/Home/ziad.jpeg" >
      <p>Ziad Samer</p>
      </div>

      <div class="col-sm-3 col-lg-3">
        <img src="assets/images/Home/moghazy.jpeg" >
        <p>Ahmed Moghazy</p>
        </div>

        <div class="col-sm-3 col-lg-3">
          <img src="assets/images/Home/errini.jpeg" >
          <p>Erini Kamel</p>
          </div>

</div>

<div class="container" id="contact">
      <div class="login-signup container-fluid shadow p-5 col-sm-11 col-lg-10">
        <div class="#signContainer  brand-influencer-signup row">
          <h3>
            Have a Question?
          </h3>
          <p class="text-muted">Submit this form and we will reply shortly!</p>
<form action="" #brand class="brand form">
  <div class="input-field">
    <input type="text" placeholder="" required />
    <span>First Name</span>
    <i></i>
  </div>
  <div class="input-field">
    <input type="text" placeholder="" required />
    <span>Last Name</span>
    <i></i>
  </div>
  <div class="input-field">
    <input type="email" placeholder="" required />
    <span>Email</span>
    <i></i>
  </div>
  <div class="input-field">
    <input type="tel" placeholder="" required />
    <span>Contact Number</span>
    <i></i>
  </div>
  <div class="input-field">
    <input type="text" required />
    <span>Company Name</span>
    <i></i>
  </div>
  <div class="input-field">
    <input type="text" required />
    <span>Website</span>
    <i></i>
  </div>
  <div class="input-field">
    <input type="text" required />
    <span>How can we help you?</span>
    <i></i>
  </div>
  <input type="submit" value="Talk to Us!" class="submit-btn mt-5" data-bs-toggle="modal" data-bs-target="#talkToUs" />
</form>
    </div>
  </div>
</div>
<!-- Modal 2-->
<div class="modal fade" #modal2 id="talkToUs" aria-hidden="true" aria-labelledby="talkToUsLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="text-center text-dark mt-5 mx-3">
        <h4 id="talkToUsLabel">Thank you for sending to us!</h4>
        <p>Our team will contact you soon.</p>
      </div>
      <div class="text-center  mx-3 ">
        <button type="button" data-bs-dismiss="modal" class="btn btn-outline statusBtn mb-5" (click)="reloadPage()">Close</button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
</body>


