.logoContainer {
  background: linear-gradient(-45deg, #1c768f, #032539);
  background-image: url("../../../assets/images/Home/bg.jpg");
  background-size: cover;
  /* background-color: #032539; */
  padding-top: 270px;
  padding-bottom: 200px;
}

.centeredLogo {
  width: 100%;
  animation: X 0.7s ease 1;
}

.slogan {
  color: white;
  position: relative;
  text-align: center;
  animation: slogan 0.9s;
}


.navbar {
  background: linear-gradient(-45deg, #1c768f, #032539);
  /* background-color: #032539; */
  border-radius: 0px 0px 0px 30px;
  box-shadow: 4px 1px 2px 1px hsl(0, 0%, 96%, 0.7);
}
.navbar-brand {
  font-family: "Oswald", sans-serif;
  color: #fa991c;
}
.nav-link {
  color: white;
}
.nav-link:hover {
  color: #fa991c !important;
}
.dropdown-menu {
  background-color: #032539;
  /* background: linear-gradient(-45deg, #1c768f, #032539); */

}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  color: #fa991c;
  background-color: transparent;
}

.iconColor {
  color: #9933cc !important;
}

.navbar .navbar-toggler[aria-expanded="true"] {
  color: #fa991c !important;
}

.navbar .navbar-toggler:hover {
  color: white;
}

.title-textIn {
  color: #032539;
}

.blockquote {
  padding: 60px 80px 40px;
  position: relative;
}

.blockquote p {
  font-family: "Utopia-italic";
  font-size: 30px;
  font-weight: 700px;
  text-align: center;
}

.blockquote::after {
  content: "";
  top: 20px;
  left: 50%;
  margin-left: -150px;
  position: absolute;
  border-bottom: 5px solid #fa991c;
  height: 5px;
  width: 300px;
}

.getToKnowUs{
  border-radius: 0px 30px 30px 0px;
}

.whyInfluenz {
  background-color: #fa991c;
  border-radius: 0px 30px 30px 0px;
  color:white
}

.whyInfluenz h3 {
  color: rgb(34, 34, 34);
}

.container {
  position: relative;
  height: 95vh;
  background-color: #fff;
  margin-bottom:40px
}

.login-signup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 30px 30px 0px;;
}
.form {
  width: 100%;
  /* padding: 0 20px; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-field {
  position: relative;
  width: 48%;
  margin-top: 15px;
}
.input-field input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #525252;
  font-size: 0.8em;
  letter-spacing: 0.05em;
  z-index:7
}

form .input-field:last-of-type {
  width: 100%;
}
.input-field span {
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px 10px 10px;
  font-size: 0.7em;
  color: #8f8f8f;
  pointer-events: none;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

.input-field input:focus ~ span,
.input-field input:valid ~ span {
  color: #fa991c;
  transform: translateX(-5px) translateY(-25px);
  font-size: 0.6em;
}
.input-field i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  /* border: 1px solid; */
  background-color: hsl(34, 96%, 55%,0.5);
  border-radius: 4px;
  pointer-events: none;
  transition: 0.5s;
}
.input-field input:focus ~ i,
.input-field input:valid ~ i {
  height: 40px;
}

.submit-btn {
  width: 40%;
  height: 50px;
  border-radius: 50px;
  border: none;
  background-color: #1c768f;
  color: #fff;
  font-weight: 600px;
  text-transform: uppercase;
  margin: 10px auto;
  transition: 0.5s;
}

.submit-btn:hover {
  background-color: #032539;
}


.learnMore-btn{
  width: 40%;
  height: 50px;
  border-radius: 50px;
  border: none;
  background-color: #fa991c;
  color: #fff;
  font-weight: 600px;
  text-transform: uppercase;
  margin: 10px auto;
  transition: 0.5s;
}

.learnMore-btn:hover {
  background-color: #c4750f;
}

.team div img{
  width: 175px;
  border-radius: 50%;
  filter:grayscale(70%);
  box-shadow: 0px 3px 1px 1px  lightgrey;
}

.team div p{
  text-align:center;
  /* text-indent: 10px; */
  font-size:12px;
  font-weight:bold;
  color:#ffffff;
  padding:3px;
  background-color:#1c768f;
  border-radius: 20px;
  width:100%;
  max-width: 200px;
  position: relative;
  top:-13px;
}

.services h5{
  color:#1c768f;
  text-shadow: 1px 0px 1px rgb(190, 190, 190);
}

.meetTeam {
  color:#032539;
  text-shadow: 1px 0px 1px rgb(190, 190, 190);
}

.statusBtn{
  outline: 0.5px darkgrey solid;
  background-color: transparent;
  color:#032539;
  margin: 0 auto;
  margin-top:2rem;
  width:5rem;
  }

.statusBtn:hover{
  outline: none;
  transform: scale(1.1);
  background-color: #fa991c;
  color: #032539;
  }

@keyframes X {
  0% {
    rotate: -50deg;

  }

  50%{
    opacity:0.8;
    transform: scale(1, 2);
  }

  100%{
    transform: scale(1, 1);
  }

}

@keyframes slogan {
  0%{
    opacity:0
  }

  50%{
    opacity:0;
    transform: scale(1.1, 2);
  }

  100% {
    opacity:1;
    transform: scale(1, 1);
  }
}
