<app-brand-admin-header></app-brand-admin-header>
<div class="form-header">
    <h2>Password Settings</h2>
    <h5>you can change your password here</h5>
    <div class="form-container" >
        <form class="password-form">
            <div class="form-group col-lg-8 col-sm-12">
                <label for="firstname" class="col-form-label pe-2">Current Password</label>
                <input type="password" class="form-control" id="firstname" placeholder="please enter your current password">
            </div>
            <div class="form-group col-lg-8 col-sm-12">
                <label for="lastname" class="col-form-label pe-2">New Password</label>
                <input type="password" class="form-control" id="lastname" placeholder="please enter your new password">
            </div>
            <div class="form-group col-lg-8 col-sm-12">
                <label for="brandname" class="col-form-label pe-2">Confirm New Password</label>
                <input type="password" class="form-control" id="lastname" placeholder="please confirm your new password">
            </div>
            <div class="form-group col-lg-12 col-sm-12">
            </div>
            <button type="submit" class="btn btn-primary">Confirm Password Change</button>
        </form>
    </div>
</div>
<app-footer></app-footer>