<app-header></app-header>

<div class="container-fluid shadow w-75 m-auto mt-3 p-4">
  <div class="row">
    <div
      class="col col-lg-3col-sm-12 text-center mb-3 d-flex"
      style="flex-wrap: wrap; align-items: center; font-weight: 600"
    >
      <h3 class="h4 d-block m-3 w-100" for="">Age</h3>
      <!-- <div class="d-flex"> -->
      From
      <select
        class="form-select border-0 mx-3 text-center bg-light"
        aria-label="Default select example"
        #minAge
      >
        <option value=0 selected>12</option>
        <option value=18>18</option>
        <option value=25>25</option>
        <option value=35>35</option>
        <option value=45>45</option>

      </select>
      To
      <select
        class="form-select border-0 mx-3 text-center bg-light"
        aria-label="Default select example"
        #maxAge
      >
        <option value=18>18</option>
        <option value=25>25</option>
        <option value=35>35</option>
        <option value=45>45</option>
        <option value=60 selected>60</option>
      </select>
      <!-- From<input
          class="form-control mx-2"
          value="12"
          style="height: 40px; width: 50px"
          type="number"
          #minAge
        />To
        <input
          class="form-control mx-2"
          value="60"
          style="height: 40px; width: 50px"
          type="number"
          #maxAge
        /> -->
      <!-- </div> -->
    </div>

    <div
      class="col col-lg-3 text-center mb-3 d-flex"
      style="flex-wrap: wrap; align-items: center; font-weight: 600"
    >
      <label class="h4 m-0 d-block m-3 w-100" for="">Followers</label>

      From
      <select
        class="form-select border-0 mx-3 text-center bg-light"
        aria-label="Default select example"
        #minFollowers
      >
        <option value=0 selected>0</option>
        <option value=10000>10K</option>
        <option value=50000>50K</option>
        <option value=100000>100K</option>
        <option value=250000>250K</option>
        <option value=500000>500K</option>
        <option value=1000000>1M</option>
      </select>
      <!-- <input
        class="form-control mx-2"
        value="0"
        style="height: 40px; width: 50px"
        type="number"
        #minFollowers
      /> -->
      To
      <!-- <input
        class="form-control mx-2"
        value="60"
        style="height: 40px; width: 50px"
        type="number"
        #maxFollowers
      /> -->
      <select
        class="form-select border-0 mx-3 text-center bg-light"
        aria-label="Default select example"
        #maxFollowers
      >
        <option  value=10000>10K</option>
        <option value=50000>50K</option>
        <option value=100000>100K</option>
        <option value=250000>250K</option>
        <option value=500000>500K</option>
        <option value=1000000>1M</option>
        <option value=500000000 selected>5M+</option>
      </select>
    </div>

    <div
      class="col col-lg-3 text-center mb-3 d-flex"
      style="flex-wrap: wrap; align-items: center; font-weight: 600"
    >
      <label class="h4 m-0 d-block m-3 w-100" for="">Price</label>

      From
      <select
        class="form-select border-0 mx-3 text-center bg-light"
        aria-label="Default select example"
        #minPrice
      >
      <option value=0 selected>0</option>
      <option value=1000>1K</option>
      <option value=5000>5K</option>
      <option value=10000>10K</option>
      <option value=25000>25K</option>
      <option value=50000>50K</option>
      <option value=100000>100K</option>
      </select>
      To
      <select
        class="form-select border-0 mx-3 text-center bg-light"
        aria-label="Default select example"
        #maxPrice
      >
      <option  value=10000>10K</option>
      <option value=1000>1K</option>
      <option value=5000>5K</option>
      <option value=10000>10K</option>
      <option value=25000>25K</option>
      <option value=50000>50K</option>
      <option value=100000>100K</option>
      <option value=50000000 selected>500K+</option>
      </select>
      <!-- From<input
        class="form-control mx-2"
        value="0"
        style="height: 40px; width: 50px"
        type="number"
        #minPrice
      />To
      <input
        class="form-control mx-2"
        value="60"
        style="height: 40px; width: 50px"
        type="number"
        #maxPrice
      /> -->
    </div>

    <div
      class="col col-lg-3 text-center mb-3 d-flex"
      style="flex-wrap: wrap; align-items: center; font-weight: 600"
    >
      <label class="h5 m-0 d-block m-3 w-100" for="">Engagement Rate</label>

      From
      <select
        class="form-select border-0 mx-3 text-center bg-light"
        aria-label="Default select example"
        #minEngagementRate
      >
        <option value=0 selected>0</option>
        <option value=1 >1</option>
        <option value=2 >2</option>
      </select>
      To
      <select
        class="form-select border-0 mx-3 text-center bg-light"
        aria-label="Default select example"
        #maxEngagementRate
      >
      <option value=1 >1</option>
      <option value=2 >2</option>
      <option value=3 selected>3</option>
      </select>
      <!-- From<input
        class="form-control mx-2"
        value="0"
        style="height: 40px; width: 50px"
        type="number"
        #minEngagementRate
      />To
      <input
        class="form-control mx-2"
        value="60"
        style="height: 40px; width: 50px"
        type="number"
        #maxEngagementRate
      /> -->
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <label class="h5 m-2" for="">Gender</label>
      <select
        class="form-select border-0 bg-light"
        aria-label="Default select example"
        #gender
      >
        <!-- <option value='{"foo":"bar","one":"two"}' selected>All</option> -->
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>

    <div class="col text-center">
      <label class="h5 m-2" for="">Marital Status</label>
      <select
        class="form-select border-0 bg-light"
        aria-label="Default select example"
        #maritalStatus
      >
        <!-- <option selected>All</option> -->
        <option value="single">Single</option>
        <option value="married">Married</option>
      </select>
    </div>
    <div class="col text-center">
      <label class="h5 m-2" for="">Children</label>
      <select
        class="form-select border-0 bg-light"
        aria-label="Default select example"
        #children
      >
        <!-- <option selected>All</option> -->
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
    </div>
    <!-- <div class="col text-center">
      <label class="h5 m-2" for="">Pets</label>
      <select
        class="form-select border-0 bg-light"
        aria-label="Default select example"
        #pets
      >
        <option selected>All</option>
        <option value="dogs">Dogs</option>
        <option value="cats">Cats</option>
      </select>
    </div> -->
    <div class="col text-center">
      <label class="h5 m-2" for="">Country</label>
      <select disabled
        class="form-select border-0 bg-light"
        aria-label="Default select example"
        #country
      >
        <option selected>Egypt</option>
        <!-- <option value="1">One</option> -->
        <!-- <option value="2">Two</option> -->
      </select>
    </div>
  </div>
  <div class="row m-2 mt-4">

    <div class="col">
      <span style="color: #032539" class="h3">Search</span>
    </div>
    <div class="col-8 col-sm-7">
      <input
        class="form-control "
        placeholder="By name or username"
        type="text"
        #word
      />
    </div>
    <div class="col my-2">
      <button
        type="button"
        class="btn btn-dark "
        style="background-color: #032539"
        (click)="
          search(
            word.value
          )
        "
      >
        Search
      </button>
    </div>
    <div class="col my-2">
      <button
        type="button"
        class="btn btn-dark float-end"
        style="background-color: #032539"
        (click)="
          filter(
            minAge.value,
            maxAge.value,
            minPrice.value,
            maxPrice.value,
            minEngagementRate.value,
            maxEngagementRate.value,
            minFollowers.value,
            maxFollowers.value,
            gender.value,
            maritalStatus.value,
            children.value,
            country.value
          )
        "
      >
        Apply Filter
      </button>
    </div>
  </div>
</div>

<div class="container w-75 m-auto my-5">
  <!-- <div class="col-4 mb-2">
      <div class="card shadow">
        <img src="assets/images/1.jpg" class="card-img" alt="card-grid-image">
        <div class="card-body">
          <h5 class="card-title">Julia Adam</h5>
          <p class="card-footer text-muted">@julz007  <i class="bi bi-instagram"></i> <i class="bi bi-snapchat"></i></p>
        </div>
      </div>
    </div> -->

  <div class="d-flex justify-content-around flex-wrap w-100">
    <div
      class="card col-3 shadow mt-2 col-sm-12 col-lg-4 col-md-6"
      style="width: 24%"
      *ngFor="let influencer of filteredInfluencers"
    >
      <img
        src="assets/images/{{ influencer.id }}.png"
        class="card-img-top"
        alt="card-group-image"
      />
      <div class="card-body" style="position: relative">
        <h5 class="card-title">
          {{ influencer.fname }} {{ influencer.lname }}
        </h5>
        <span class="d-block"><i class="bi bi-heart-fill"></i></span>
        <p class="card-text">{{ influencer.instagram }}</p>
      </div>
      <div
        class="card-footer justify-content-between"
        style="text-align: center"
      >
        <small class="text-muted justify-content-between">
          <a href="https://www.instagram.com/" target="_blank">
            <i class="bi bi-instagram my-0"></i
          ></a>
          <a href="https://www.tiktok.com/" target="_blank">
            <i class="bi bi-snapchat my-0 mx-3"></i
          ></a>
          <a href="https://www.facebook.com/" target="_blank">
            <i class="bi bi-facebook my-0"></i
          ></a>
        </small>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
