<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  
  <body>
    <!-- <app-header></app-header> -->
<div class="body">
    <div class="create-campaign-container">
      <div class="title">NEW CAMPAIGN</div>
      <div class="subtitle">PAYMENT</div>
      <hr>

    <div class="createCampaignContainer col-12 col-sm-12 col-md-12 col-lg-12">
      <form class="row">

        <div class="col-sm-12 col-lg-6">
          <div class="input-group">
            <span class="input-group-text col-sm-12">Payment Amount</span>

            <input type="text" class="form-control" placeholder="Type" />
          </div>
          <br />
        </div>

        <div class="col-sm-12 col-lg-6">
          <div class="input-group">
            <span class="input-group-text col-sm-12">Payment Currency</span>

            <input type="text" class="form-control" placeholder="Type" />
          </div>
          <br />
        </div>


        <div class="">
          <div class="input-group">
            <span class="input-group-text col-sm-12">Payment Details</span>

            <textarea
              class="form-control"
              id="idetails"
              cols="200"
              rows="6"
              placeholder="Type here a detailed description of the payment.."
            ></textarea>
          </div>
          <br />
        </div>

      </form>
    </div>
  </div>
  
  </div> 
  
  <app-footer></app-footer>
  
  </body>
</html>
