<div class="body">
  <div class="container" #container>
    <div class="login-signup">
      <div #signContainer class="brand-influencer-signup">
        <h2 class="title" #title>Sign up</h2>
        <div #switch class="switch btn-group">
          <button
            class="brand-btn"
            #brandBtn
            (click)="
              switchToBrand(
                brand,
                influencer,
                brandBtn,
                influencerBtn,
                switch,
                title
              )
            "
          >
            Brand
          </button>
          <button
            class="influencer-btn"
            #influencerBtn
            (click)="
              switchToInfluencer(
                brand,
                influencer,
                brandBtn,
                influencerBtn,
                switch,
                title
              )
            "
          >
            Influencer
          </button>
        </div>
        <form
          action=""
          #brand
          class="brand"
          (ngSubmit)="
            newBrand(
              fname.value,
              lname.value,
              email.value,
              conf_email.value,
              phone.value,
              password.value,
              conf_password.value,
              brand_name.value,
              job_title.value,
              hear_about_us.value,
              instagram.value
            )
          "
        >
          <div class="input-field">
            <input #fname type="text" placeholder="" required />
            <span>First Name</span>
            <i></i>
          </div>
          <div class="input-field">
            <input #lname type="text" placeholder="" required />
            <span>Last Name</span>
            <i></i>
          </div>
          <div class="input-field">
            <input #email type="email" placeholder="" required />
            <span>Email</span>
            <i></i>
          </div>
          <div class="input-field">
            <input #conf_email type="email" placeholder="" required />
            <span>Confirm Email</span>
            <i></i>
          </div>
          <div class="input-field">
            <input #phone type="tel" placeholder="" required />
            <span>Contact Number</span>
            <i></i>
          </div>
          <div class="input-field">
            <input #brand_name type="text" required />
            <span>Brand Name</span>
            <i></i>
          </div>
          <div class="input-field">
            <input #job_title type="text" required />
            <span>Jop Title</span>
            <i></i>
          </div>
          <div class="input-field">
            <input #hear_about_us type="text" required />
            <span>Where did you hear about us ?</span>
            <i></i>
          </div>
          <div class="input-field">
            <input #password type="password" required />
            <span>Password</span>
            <i></i>
          </div>
          <div class="input-field">
            <input #conf_password type="password" required />
            <span>Confirm Password</span>
            <i></i>
          </div>
          <div class="input-field">
            <input #instagram type="text" required />
            <span>Brand Instagram UserName</span>
            <i></i>
          </div>
          <input type="submit" value="Sign Up" class="submit-btn" />
          <p class="account-text">
            Already have account?
            <a href="#" id="switch-to-login" (click)="switchToLogin(container)"
              >Log in</a
            >
          </p>
        </form>
        <form
          action=""
          #influencer
          class="influencer"
          (ngSubmit)="
            newInfluencer(
              inf_fname.value,
              inf_lname.value,
              inf_email.value,
              inf_conf_email.value,
              inf_phone.value,
              inf_occupation.value,
              inf_hear.value,
              inf_password.value,
              inf_conf_password.value
            )
          "
        >
          <div class="input-field">
            <input #inf_fname type="text" required />
            <span>First Name</span>
            <i></i>
          </div>
          <div class="input-field">
            <input #inf_lname type="text" required />
            <span>Last Name</span>
            <i></i>
          </div>
          <div class="input-field">
            <input #inf_email type="email" required />
            <span>Email</span>
            <i></i>
          </div>
          <div class="input-field">
            <input #inf_conf_email type="email" required />
            <span>Confirm Email</span>
            <i></i>
          </div>
          <div class="input-field">
            <input #inf_phone type="tel" required />
            <span>Phone Number</span>
            <i></i>
          </div>
          <div class="input-field">
            <input #inf_occupation type="text" required />
            <span>Occupation</span>
            <i></i>
          </div>
          <div class="input-field">
            <input #inf_hear type="text" required />
            <span>Where did you hear about us?</span>
            <i></i>
          </div>
          <div class="input-field">
            <input #inf_password type="password" required />
            <span>Password</span>
            <i></i>
          </div>
          <div class="input-field">
            <input #inf_conf_password type="password" required />
            <span>Confirm Password</span>
            <i></i>
          </div>
          <input type="submit" value="Sign Up" class="submit-btn" />
          <p class="account-text">
            Already have account?
            <a href="#" id="switch-to-login" (click)="switchToLogin(container)"
              >Log in</a
            >
          </p>
        </form>
      </div>
      <div class="login" #loginContainer>
        <h2 class="title">Log in</h2>
        <form
          action=""
          (ngSubmit)="checkUser(log_email.value, log_password.value)"
        >
          <div class="input-field">
            <input #log_email type="email" required />
            <span>Email</span>
            <i></i>
          </div>
          <div class="input-field">
            <input #log_password type="password" required />
            <span>Password</span>
            <i></i>
          </div>
          <input type="submit" value="Log In" class="submit-btn" />
          <p class="account-text">
            You Don't have account?
            <a
              href="#"
              id="switch-to-signup"
              (click)="switchToSignup(container)"
              >Sign up</a
            >
          </p>
        </form>
      </div>
    </div>
    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>New To The Site?</h3>
          <button
            class="submit-btn"
            (click)="
              loginSwitch(
                container,
                brand,
                influencer,
                brandBtn,
                influencerBtn,
                switch,
                title
              )
            "
          >
            Sign up
          </button>
        </div>
        <img
          src="../../../assets/images/signupAndLogin/signup.png"
          alt=""
          class="image"
        />
      </div>
      <div class="panel right-panel">
        <div class="content">
          <h3>Member Of The Site?</h3>
          <button
            class="submit-btn"
            (click)="
              signSwitch(
                container,
                brand,
                influencer,
                brandBtn,
                influencerBtn,
                switch,
                title
              )
            "
          >
            Log In
          </button>
        </div>
        <img
          src="../../../assets/images/signupAndLogin/signin.png"
          class="image"
        />
      </div>
    </div>
  </div>
</div>
