<div class="body">
  <div class="container" #container>
    <div class="login-signup">
      <div #signContainer class="brand-influencer-signup">
        <h2 class="title" #title>Sign up</h2>
        <div #switch class="switch btn-group">
          <button
            class="brand-btn"
            #brandBtn
            (click)="
              switchToBrand(
                brand,
                influencer,
                brandBtn,
                influencerBtn,
                switch,
                title
              )
            "
          >
            Brand
          </button>
          <button
            class="influencer-btn"
            #influencerBtn
            (click)="
              switchToInfluencer(
                brand,
                influencer,
                brandBtn,
                influencerBtn,
                switch,
                title
              )
            "
          >
            Influencer
          </button>
        </div>
        <form
          action=""
          method="post"
          #brand
          class="brand form-group"
          [formGroup]="brandValidation"
          (ngSubmit)="
            newBrand(
              fname.value,
              lname.value,
              email.value,
              conf_email.value,
              phone.value,
              password.value,
              conf_password.value,
              brand_name.value
            )
          "
        >
          <div class="input-field">
            <input
              formControlName="firstName"
              [ngClass]="{ pp: firstNameError && !firstNameValid }"
              class="form-control"
              #fname
              type="text"
              required
            />
            <span [ngClass]="{ err: firstNameError && !firstNameValid }"
              >First Name</span
            >
            <i></i>
          </div>
          <div class="input-field">
            <input
              #lname
              type="text"
              class="form-control"
              formControlName="lastName"
              [ngClass]="{ pp: lastNameError && !lastNameValid }"
              required
            />
            <span>Last Name</span>
            <i></i>
          </div>

          <div class="input-field">
            <input
              #email
              type="email"
              class="form-control"
              formControlName="email"
              [ngClass]="{ pp: emailError && !emailValid }"
              required
            />
            <span>Email</span>
            <i></i>
          </div>
          <div class="input-field">
            <input
              #conf_email
              type="email"
              class="form-control"
              formControlName="emailConfirm"
              [ngClass]="{
                pp: (emailConfirmError && !emailConfirmValid) || confirmE
              }"
              required
            />
            <span>Confirm Email</span>
            <i></i>
          </div>
          <div class="input-field">
            <input
              #password
              type="password"
              class="form-control"
              name="pass"
              formControlName="password"
              [ngClass]="{ pp: passwordError && !passwordValid }"
              required
            />
            <span>Password</span>
            <i></i>
          </div>
          <div class="input-field">
            <input
              #conf_password
              type="password"
              class="form-control"
              formControlName="passwordConfirm"
              [ngClass]="{
                pp: (passwordConfirmError && !passwordConfirmValid) || confirmP
              }"
              required
            />
            <span>Confirm Password</span>
            <i></i>
          </div>
          <div class="input-field">
            <input
              #phone
              type="tel"
              class="form-control"
              formControlName="phone"
              [ngClass]="{ pp: phoneError && !phoneValid }"
              required
            />
            <span>Contact Number</span>
            <i></i>
          </div>
          <div class="input-field">
            <input
              #brand_name
              type="text"
              class="form-control"
              formControlName="brandName"
              [ngClass]="{ pp: brandNameError && !brandNameValid }"
              required
            />
            <span>Brand Name</span>
            <i></i>
          </div>
          <!-- <div class="input-field">
            <input
              #instagram
              type="text"
              class="form-control"
              formControlName="instagram"
              required
            />
            <span>Brand Instagram UserName</span>
            <i></i>
          </div>
          <div class="input-field">
            <input
              #job_title
              type="text"
              class="form-control"
              formControlName="jop"
              required
            />
            <span>Jop Title</span>
            <i></i>
          </div>
          <div class="input-field">
            <input
              #hear_about_us
              type="text"
              class="form-control"
              formControlName="question"
              required
            />
            <span>Where did you hear about us ?</span>
            <i></i>
          </div> -->
          <div
            *ngIf="firstNameError && !firstNameValid"
            class="error alert alert-danger"
          >
            {{ firstNameError }}
          </div>
          <div
            *ngIf="lastNameError && !lastNameValid"
            class="error alert alert-danger"
          >
            {{ lastNameError }}
          </div>
          <div
            *ngIf="emailError && !emailValid"
            class="error alert alert-danger"
          >
            {{ emailError }}
          </div>
          <div
            *ngIf="emailConfirmError && !emailConfirmValid"
            class="error alert alert-danger"
          >
            {{ emailConfirmError }}
          </div>
          <div *ngIf="confirmE" class="error alert alert-danger">
            {{ confirmE }}
          </div>
          <div
            *ngIf="passwordError && !passwordValid"
            class="error alert alert-danger"
          >
            {{ passwordError }}
          </div>
          <div
            *ngIf="passwordConfirmError && !passwordConfirmValid"
            class="error alert alert-danger"
          >
            {{ passwordConfirmError }}
          </div>
          <div *ngIf="confirmP" class="error alert alert-danger">
            {{ confirmP }}
          </div>
          <div
            *ngIf="phoneError && !phoneValid"
            class="error alert alert-danger"
          >
            {{ phoneError }}
          </div>
          <div
            *ngIf="brandNameError && !brandNameValid"
            class="error alert alert-danger"
          >
            {{ brandNameError }}
          </div>
          <input type="submit" value="Sign Up" class="submit-btn" />
          <p class="account-text">
            Already have account?
            <a href="#" id="switch-to-login" (click)="switchToLogin(container)"
              >Log in</a
            >
          </p>
        </form>
        <form
          action=""
          #influencer
          [formGroup]="brandValidation"
          class="influencer form-group"
          (ngSubmit)="
            newInfluencer(
              inf_fname.value,
              inf_lname.value,
              inf_email.value,
              inf_conf_email.value,
              inf_phone.value,
              inf_occupation.value,
              inf_password.value,
              inf_conf_password.value
            )
          "
        >
          <div class="input-field">
            <input
              #inf_fname
              type="text"
              formControlName="firstName"
              [ngClass]="{ pp: firstNameError && !firstNameValid }"
              class="form-control"
              required
            />
            <span>First Name</span>
            <i></i>
          </div>
          <div class="input-field">
            <input
              #inf_lname
              type="text"
              formControlName="lastName"
              [ngClass]="{ pp: lastNameError && !lastNameValid }"
              class="form-control"
              required
            />
            <span>Last Name</span>
            <i></i>
          </div>
          <div class="input-field">
            <input
              #inf_email
              type="email"
              formControlName="email"
              [ngClass]="{ pp: emailError && !emailValid }"
              class="form-control"
              required
            />
            <span>Email</span>
            <i></i>
          </div>
          <div class="input-field">
            <input
              #inf_conf_email
              type="email"
              formControlName="emailConfirm"
              [ngClass]="{ pp: emailConfirmError && !emailConfirmValid }"
              class="form-control"
              required
            />
            <span>Confirm Email</span>
            <i></i>
          </div>
          <div class="input-field">
            <input
              #inf_password
              type="password"
              formControlName="password"
              [ngClass]="{ pp: passwordError && !passwordValid }"
              class="form-control"
              required
            />
            <span>Password</span>
            <i></i>
          </div>
          <div class="input-field">
            <input
              #inf_conf_password
              type="password"
              formControlName="passwordConfirm"
              [ngClass]="{ pp: passwordConfirmError && !passwordConfirmValid }"
              class="form-control"
              required
            />
            <span>Confirm Password</span>
            <i></i>
          </div>
          <div class="input-field">
            <input
              #inf_phone
              type="tel"
              formControlName="phone"
              [ngClass]="{ pp: phoneError && !phoneValid }"
              class="form-control"
              required
            />
            <span>Phone Number</span>
            <i></i>
          </div>
          <div class="input-field">
            <input
              #inf_occupation
              type="text"
              formControlName="brandName"
              [ngClass]="{ pp: brandNameError && !brandNameValid }"
              class="form-control"
              required
            />
            <span>Occupation</span>
            <i></i>
          </div>
          <!-- <div class="input-field">
            <input #inf_hear type="text" required />
            <span>Where did you hear about us?</span>
            <i></i>
          </div> -->
          <div
            *ngIf="firstNameError && !firstNameValid"
            class="error alert alert-danger"
          >
            {{ firstNameError }}
          </div>
          <div
            *ngIf="lastNameError && !lastNameValid"
            class="error alert alert-danger"
          >
            {{ lastNameError }}
          </div>
          <div
            *ngIf="emailError && !emailValid"
            class="error alert alert-danger"
          >
            {{ emailError }}
          </div>
          <div
            *ngIf="emailConfirmError && !emailConfirmValid"
            class="error alert alert-danger"
          >
            {{ emailConfirmError }}
          </div>
          <div *ngIf="confirmE" class="error alert alert-danger">
            {{ confirmE }}
          </div>
          <div
            *ngIf="passwordError && !passwordValid"
            class="error alert alert-danger"
          >
            {{ passwordError }}
          </div>
          <div
            *ngIf="passwordConfirmError && !passwordConfirmValid"
            class="error alert alert-danger"
          >
            {{ passwordConfirmError }}
          </div>
          <div *ngIf="confirmP" class="error alert alert-danger">
            {{ confirmP }}
          </div>
          <div
            *ngIf="phoneError && !phoneValid"
            class="error alert alert-danger"
          >
            {{ phoneError }}
          </div>
          <div
            *ngIf="brandNameError && !brandNameValid"
            class="error alert alert-danger"
          >
            {{ brandNameError }}
          </div>
          <input type="submit" value="Sign Up" class="submit-btn" />
          <p class="account-text">
            Already have account?
            <a href="#" id="switch-to-login" (click)="switchToLogin(container)"
              >Log in</a
            >
          </p>
        </form>
      </div>
      <div class="login" #loginContainer id="logIn">
        <h2 class="title">Log in</h2>
        <form
          action=""
          (ngSubmit)="checkUser(log_email.value, log_password.value)"
        >
          <div class="input-field">
            <input #log_email type="email" required />
            <span>Email</span>
            <i></i>
          </div>
          <div
            *ngIf="loginErrorEmail"
            style="width: 80%; margin: 5px auto; text-align: center"
            class="alert alert-danger"
          >
            {{ loginErrorEmail }}
          </div>
          <div class="input-field">
            <input #log_password type="password" required />
            <span>Password</span>
            <i></i>
          </div>
          <div
            *ngIf="loginErrorPassword"
            style="width: 80%; margin: 5px auto; text-align: center"
            class="alert alert-danger"
          >
            {{ loginErrorPassword }}
          </div>
          <div
            class="input-field"
            style="background-color: #ccc; padding: 10px"
          >
            <div>
              <input
                type="radio"
                #check
                name="check"
                id="brand"
                value="brand"
                (change)="onChange($event)"
              />
              <label for="brand">Brand</label>
            </div>
            <div>
              <input
                type="radio"
                #check
                name="check"
                id="influencer"
                value="influencer"
                (change)="onChange($event)"
              />
              <label for="influencer">Influencer</label>
            </div>
          </div>
          <div
            *ngIf="checkError"
            style="width: 80%; margin: 5px auto; text-align: center"
            class="alert alert-danger"
          >
            {{ checkError }}
          </div>
          <input
            type="submit"
            value="Log In"
            class="submit-btn"
            style="margin-top: 0"
          />
          <p class="account-text">
            You Don't have account?
            <a
              href="#"
              id="switch-to-signup"
              (click)="switchToSignup(container)"
              >Sign up</a
            >
          </p>
        </form>
      </div>
    </div>
    <div class="panels-container">
      <div class="panel left-panel">
        <!-- <img
        src="assets/images/signupAndLogin/signup.png"
        alt=""
        class="image w-75 mb-4"
      /> -->
        <div class="content mb-5">
          <h3>New To The Site?</h3>

          <button
            class="submit-btn"
            (click)="
              loginSwitch(
                container,
                brand,
                influencer,
                brandBtn,
                influencerBtn,
                switch,
                title
              )
            "
          >
            Sign up
          </button>
        </div>
      </div>
      <div class="panel right-panel">
        <!-- <img
        src="assets/images/signupAndLogin/signin.png"
        class="image"
      /> -->
        <div class="content">
          <h3>Member Of The Site?</h3>
          <button
            class="submit-btn"
            (click)="
              signSwitch(
                container,
                brand,
                influencer,
                brandBtn,
                influencerBtn,
                switch,
                title
              )
            "
          >
            Log In
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
