<div class="body">
  <div class="container" #container>
    <div class="login-signup">
      <div #signContainer class="brand-influencer-signup">
        <h2 class="title" #title>Sign up</h2>
        <div #switch class="switch btn-group">
          <button
            class="brand-btn"
            #brandBtn
            (click)="
              switchToBrand(
                brand,
                influnser,
                brandBtn,
                influencerBtn,
                switch,
                title
              )
            "
          >
            Brand
          </button>
          <button
            class="influencer-btn"
            #influencerBtn
            (click)="
              switchToInfluncer(
                brand,
                influnser,
                brandBtn,
                influencerBtn,
                switch,
                title
              )
            "
          >
            Influencer
          </button>
        </div>
        <form action="" #brand class="brand">
          <div class="input-field">
            <input type="text" placeholder="" required />
            <span>First Name</span>
            <i></i>
          </div>
          <div class="input-field">
            <input type="text" placeholder="" required />
            <span>Last Name</span>
            <i></i>
          </div>
          <div class="input-field">
            <input type="email" placeholder="" required />
            <span>Email</span>
            <i></i>
          </div>
          <div class="input-field">
            <input type="email" placeholder="" required />
            <span>Confirm Email</span>
            <i></i>
          </div>
          <div class="input-field">
            <input type="tel" placeholder="" required />
            <span>Contact Number</span>
            <i></i>
          </div>
          <div class="input-field">
            <input type="text" required />
            <span>Brand Name</span>
            <i></i>
          </div>
          <div class="input-field">
            <input type="text" required />
            <span>Jop Title</span>
            <i></i>
          </div>
          <div class="input-field">
            <input type="text" required />
            <span>Where did you hear about us ?</span>
            <i></i>
          </div>
          <div class="input-field">
            <input type="password" required />
            <span>Password</span>
            <i></i>
          </div>
          <div class="input-field">
            <input type="password" required />
            <span>Confirm Password</span>
            <i></i>
          </div>
          <div class="input-field">
            <input type="text" required />
            <span>Brand Instagram UserName</span>
            <i></i>
          </div>
          <input type="submit" value="Sign Up" class="submit-btn" />
          <p class="account-text">
            Already have account?
            <a href="#" id="switch-to-login" (click)="switchToLogin(container)"
              >Log in</a
            >
          </p>
        </form>
        <form action="" #influnser class="influencer">
          <div class="input-field">
            <input type="text" required />
            <span>First Name</span>
            <i></i>
          </div>
          <div class="input-field">
            <input type="text" required />
            <span>Last Name</span>
            <i></i>
          </div>
          <div class="input-field">
            <input type="email" required />
            <span>Email</span>
            <i></i>
          </div>
          <div class="input-field">
            <input type="email" required />
            <span>Confirm Email</span>
            <i></i>
          </div>
          <div class="input-field">
            <input type="tel" required />
            <span>Contact Number</span>
            <i></i>
          </div>
          <div class="input-field">
            <input type="text" required />
            <span>Brand Name</span>
            <i></i>
          </div>
          <div class="input-field">
            <input type="text" required />
            <span>Jop Title</span>
            <i></i>
          </div>
          <div class="input-field">
            <input type="text" required />
            <span>Where did you hear about us?</span>
            <i></i>
          </div>
          <div class="input-field">
            <input type="password" required />
            <span>Password</span>
            <i></i>
          </div>
          <div class="input-field">
            <input type="password" required />
            <span>Confirm Password</span>
            <i></i>
          </div>
          <div class="input-field">
            <input type="text" required />
            <span>Brand Instagram UserName</span>
            <i></i>
          </div>
          <input type="submit" value="Sign Up" class="submit-btn" />
          <p class="account-text">
            Already have account?
            <a href="#" id="switch-to-login" (click)="switchToLogin(container)"
              >Log in</a
            >
          </p>
        </form>
      </div>
      <div class="login" #loginContainer id="logIn">
        <h2 class="title">Log in</h2>
        <form action="">
          <div class="input-field">
            <input type="email" required />
            <span>Email</span>
            <i></i>
          </div>
          <div class="input-field">
            <input type="password" required />
            <span>Password</span>
            <i></i>
          </div>
          <input type="submit" value="Log In" class="submit-btn" />
          <p class="account-text">
            You Don't have account?
            <a
              href="#"
              id="switch-to-signup"
              (click)="switchToSignup(container)"
              >Sign up</a
            >
          </p>
        </form>
      </div>
    </div>
    <div class="panels-container">
      <div class="panel left-panel">
        <!-- <img
        src="assets/images/signupAndLogin/signup.png"
        alt=""
        class="image w-75 mb-4"
      /> -->
        <div class="content mb-5">
          <h3>New To The Site?</h3>

          <button
            class="submit-btn "
            (click)="
              loginSwitch(
                container,
                brand,
                influnser,
                brandBtn,
                influencerBtn,
                switch,
                title
              )
            "
          >
            Sign up
          </button>
        </div>

      </div>
      <div class="panel right-panel">
        <!-- <img
        src="assets/images/signupAndLogin/signin.png"
        class="image"
      /> -->
        <div class="content">
          <h3>Member Of The Site?</h3>
          <button
            class="submit-btn"
            (click)="
              signSwitch(
                container,
                brand,
                influnser,
                brandBtn,
                influencerBtn,
                switch,
                title
              )
            "
          >
            Log In
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
