<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>

<div class="body">
    <div class="create-campaign-container">
      <div class="title">UPDATE CAMPAIGN</div>
      <div class="subtitle">INSTAGRAM</div>
      <hr>
<div class="createCampaignContainer">

  <form class="row" [formGroup]="instagram" (ngSubmit)="UpdateIgDet(ig_posts_imgs.value, ig_posts_vids.value, ig_stories_imgs.value, ig_stories_vids.value, ig_reels.value, ig_reel_duration.value, ig_hashtags.value, ig_tags.value)">

    <div class="col-sm-12 col-lg-4">
      <div class="input-group">
        <span class="input-group-text col-sm-12">Posts</span>
        <div class="form-floating mb-3">
          <input #ig_posts_imgs class="form-control" id="floatingInput" placeholder=" " formControlName="postImgs">
          <label for="floatingInput">Images count</label>
          <div class="error text-danger" *ngIf="!postImgs">
            <small>Enter an integer number.</small>
           </div>
        </div>
        <div class="form-floating mb-3">
          <input #ig_posts_vids class="form-control" id="floatingInput" placeholder=" " formControlName="postVids">
          <label for="floatingInput">Videos count</label>
          <div class="error text-danger" *ngIf="!postVids">
            <small>Enter an integer number.</small>
           </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-lg-4">
      <div class="input-group">
        <span class="input-group-text col-sm-12">Stories</span>
        <div class="form-floating mb-3">
          <input #ig_stories_imgs class="form-control" id="floatingInput" placeholder=" " formControlName="storyImgs">
          <label for="floatingInput">Images count</label>
          <div class="error text-danger" *ngIf="!storyImgs">
            <small>Enter an integer number.</small>
           </div>
        </div>
        <div class="form-floating mb-3">
          <input #ig_stories_vids class="form-control" id="floatingInput" placeholder=" " formControlName="storyVids">
          <label for="floatingInput">Videos count</label>
          <div class="error text-danger" *ngIf="!storyVids">
            <small>Enter an integer number.</small>
           </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-lg-4">
      <div class="input-group">
        <span class="input-group-text col-sm-12">Reels</span>
        <div class="form-floating mb-3">
          <input #ig_reels class="form-control" id="floatingInput" placeholder=" " formControlName="reels">
          <label for="floatingInput">Count</label>
          <div class="error text-danger" *ngIf="!reels">
            <small>Enter an integer number.</small>
           </div>
        </div>
        <div class="form-floating mb-3">
          <input #ig_reel_duration class="form-control" id="floatingInput" placeholder=" " formControlName="duration">
          <label for="floatingInput">Duration</label>
          <div class="error text-danger" *ngIf="!duration">
            <small>Enter an integer number.</small>
           </div>
          <br>
        </div>

      </div>
    </div>


      <div class="col-sm-12 col-lg-6">
        <div class="input-group">
          <span class="input-group-text col-sm-12">Hashtags</span>
          <div class="">
            <textarea #ig_hashtags class="form-control" id="details" cols=200 rows=6 placeholder="Enter hashtages here..." value="{{campaign.data.instagram_info.ig_hashtags}}"></textarea>
            <label for="floatingInput"></label>
            <br> <br>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-lg-6">
        <div class="input-group">
          <span class="input-group-text col-sm-12">Tags</span>
          <div class="">
            <textarea #ig_tags class="form-control" id="details" cols=200 rows=6 placeholder="Enter tags here..." value="{{campaign.data.instagram_info.ig_tags}}"></textarea>
            <label for="floatingInput"></label>
          </div>
        </div>
      </div>

      <div class="form-group btns row col-lg-12 justify-content-center">

        <input type="submit" value="Save Changes" class="btn submitOne mb-2" >

        <button class="btn btn-primary goToCampaignsBtn mb-2" routerLink="/update-campaign/influencer-fees/{{campaignId}}">Go to Fees</button>

        <p>Not yet decided? Click on Go To Fees.</p>
      </div>

      <div class="form-group btns row col-lg-12 justify-content-lg-between justify-content-sm-center">

        <button class="btn btn-primary backBtn  mb-2" routerLink="/update-campaign/{{campaignId}}">Back</button>

        <button class="btn btn-primary nextBtn mb-2" routerLink="/update-campaign/tiktok/{{campaignId}}"> TikTok</button>

      </div>

  </form>
</div>
</div>

</div>

<app-footer></app-footer>

</body>
</html>
