.body {
  width: 100%;
  background-color: #fff;
}

.header-details {
  position: relative;
}

.coverPhoto-cont {
  width: 95%;
  height: 250px;
}

.profilePhoto-cont {
  width: 100%;
  height: 100%;
  position: absolute;
}

.contents {
  width: 15%;
  height: 200px;
  position: absolute;
  bottom: -146px;
  left: 3%;
  transition: 0.5s;
}

.contents:hover .profile-content {
  opacity: 1;
  cursor: pointer;
}

.profilePhoto-cont img {
  width: 100%;
  height: 100%;
}

.profile-content {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 3%;
}

.profile-content h3 {
  font-size: 20px;
}

.button-container {
  width: 80%;
  height: 180px;
  margin-left: 20%;
  display: flex;
  align-items: flex-end;
}

.button {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background-color: #1c768f;
  color: #fff;
  font-weight: 600px;
  text-transform: uppercase;
  margin: 10px auto;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}

.button:hover {
  background-color: #032539;
}
.button-container .row{
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.testimonial-card .avatar {
  width: 110px;
  margin-top: -60px;
  overflow: hidden;
  border: 3px solid #fff;
  border-radius: 50%;
}

.box-shadow{
  box-shadow: rgb(28,118,143) 0px 1px 4px, rgb(251,243,242) 0px 0px 0px 3px;
}

.box-shadow2{
  box-shadow: rgb(250,153,28) 0px 1px 4px, rgb(251,243,242) 0px 0px 0px 3px;
}


.nav-link{
  padding: 5px ;
  width: 12%;
  border-radius: 25px;
  background-color: #032539;
  

}
.nav-link.active{

  color: #fa991c !important;
  background-color: #1c768f;
}

.nav-link a{
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.nav-link a:hover{
  color: #fa991c;
}

.campaigns-tabs{
  padding: 10px;
  width: 100%;
}

.row{
  width: 80%;
  margin: 20px auto;
} 

.brandinfo {
  width: 80%;
  margin: 10px auto;
}

.tab-content{
  margin-bottom: 100px;
  height: 400px;
}
.tab-pane{
  margin-top: 20px;
  text-align: center;
  font-size: xx-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style:italic;
}