.body {
  background-color: #fff;
  text-align: center;
}

/* Main container Section */
.containerColor {
  width: 80%;
}

/* Header Section */
.header-details {
  position: relative;
}

.coverPhoto-cont {
  width: 95%;
  height: 250px;
}

.profilePhoto-cont {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* Header Section */
.contents {
  width: 15%;
  height: 200px;
  position: absolute;
  bottom: -146px;
  left: 3%;
  transition: 0.5s;
}

.contents:hover .profile-content {
  opacity: 1;
  cursor: pointer;
}

.profilePhoto-cont img {
  width: 100%;
  height: 100%;
}

.profile-content {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 3%;
}

.box-margin-top {
  margin-top: 15%;
}

.profile-content h3 {
  font-size: 20px;
}

.primary-button {
  width: 215px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background-color: #1c768f;
  color: #fff;
  font-weight: 600px;
  text-transform: uppercase;
  margin: 10px auto;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  position: absolute;
  top: 69%;
  left: 64%;
}

.primary-button:hover {
  background-color: #032539;
}
.primary-button-container .row {
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

/* Cards Section */
#features {
  position: relative;
}
.feature-box {
  padding: 1%;
}

.info {
  margin-top: 250px;
}

.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.testimonial-card .avatar {
  width: 110px;
  margin-top: -60px;
  overflow: hidden;
  border: 3px solid #fff;
  border-radius: 50%;
}

.switch {
  display: none;
}

.card-header-style {
  color: white;
  background-color: #032539;
  font-size: 18px;
  font-weight: bold;
}

.bg-color {
  background-color: #eee;
}

.navy-color {
  color: #032539;
  font-size: 16px;
}

.orange-color {
  color: #fd7e14;
}

/*Mobile devices (landscape phones, 480 and up) */
@media (max-width: 480px) {
  .primary-button {
    width: 96px;
    height: 23px;
    line-height: 21px;
    top: 76%;
    left: 68%;
    font-size: 8px;
  }
  .profilePhoto-cont {
    width: 100%;
    height: 38%;
    top: 11%;
  }
  .info {
    margin-top: 80px;
  }
  .profile-content {
    width: 100%;
    height: 38%;
    position: absolute;
    top: 11%;
  }
  .profile-content h3{
    font-size: 10px;
    line-height: 11px;
  }
  .profile-content p{
    font-size: 10px;
    line-height: 11px;
  }
  .profile-content a{
    font-size: 8px;
    line-height: 10px;
  }
}
@media (min-width: 485px) and (max-width: 576px) {
  .profilePhoto-cont {
    width: 100%;
    height: 38%;
    position: absolute;
    top: 11%;
  }
  .primary-button {
    width: 96px;
    height: 23px;
    line-height: 21px;
    top: 34%;
    left: 68%;
    font-size: 8px;
  }
  .info {
    margin-top: 80px;
  }
}
@media (min-width: 577px) and (max-width: 668px) {
  .primary-button {
    width: 96px;
    height: 23px;
    line-height: 21px;
    top: 76%;
    left: 68%;
    font-size: 8px;
  }
  .profilePhoto-cont {
    width: 100%;
    height: 38%;
    top: 11%;
  }
  .info {
    margin-top: 80px;
  }
}
@media (min-width: 736px) and (max-width: 800px) {
  .primary-button {
    width: 96px;
    height: 23px;
    line-height: 21px;
    top: 70%;
    left: 68%;
    font-size: 8px;
  }
  .profilePhoto-cont {
    width: 100%;
    height: 38%;
    top: 11%;
  }
  .info {
    margin-top: 80px;
  }
}
@media (min-width: 800px) and (max-width: 812px) {
  .profilePhoto-cont {
    width: 100%;
    height: 51%;
    position: absolute;
    top: 11%;
  }
  .primary-button {
    width: 168px;
    height: 41px;
    line-height: 39px;
    top: 87%;
    left: 68%;
  }
  .info {
    margin-top: 100px;
  }
}
/*Medium devices (tablets, 768px and up) */
@media (min-width: 813px) and (max-width: 1024px) {
  .profilePhoto-cont {
    width: 100%;
    height: 60%;
    position: absolute;
    top: 11%;
  }
  .primary-button {
    width: 168px;
    height: 41px;
    line-height: 39px;
    top: 54%;
    left: 68%;
  }
  .info {
    margin-top: 150px;
  }
}
@media (min-width: 1025px) and (max-width: 1367px) {
  .profilePhoto-cont {
    width: 100%;
    height: 60%;
    position: absolute;
    top: 11%;
  }
  .primary-button {
    width: 168px;
    height: 41px;
    line-height: 39px;
    top: 45%;
    left: 68%;
  }
  .info {
    margin-top: 130px;
  }
}

/*Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/*X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/*XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
