<app-influencer-header></app-influencer-header>
<div class="body">
  <div class="container containerColor">


<!------------------------Notifications--------------------->
<mat-toolbar color="primary" class="bing">
  <span class="spacer"></span>
  <button mat-icon-button (click)="clear()" type="button" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
  <mat-icon class="icon">notifications</mat-icon>
</button>
<span class="badge" *ngIf="notificationNumberCount > 0">{{notificationNumberCount}}</span>
  </mat-toolbar>
  <br/><br/> <br/>
  <ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
>
<div class="notifications">
  <div *ngFor="let c of latestCampaigns">
    <a routerLink="/browse-campaigns"><p>You can check <i>{{c.title}}</i> campaign now!</p></a>
  </div>
  </div>
</ng-template>


<!------------------------Notifications End--------------------->


      <!-- Influenz static Cover photo and Influencer profile photo with an edit profile button -->
      <div class="header-details">
          <div class="CoverPhoto-cont mt-5">
              <!-- <img src="../../../assets/images/influencer-profile/cover-photo.png" class="img-fluid rounded-3"
                  alt="..."> -->
                  <img src="assets/images/placeholder-image-campaigns.png" class="img-fluid rounded-3"
                  alt="...">
          </div>
          <div class="contents">
              <div class="profilePhoto-cont">
                  <!-- <img src="../../../assets/images/influencer-profile/profile-photo.jpg" class=" rounded-3" alt="..."> -->
                  <img src="assets/images/placeholder-image-profile.jpeg" class="img-fluid rounded-3"
                  alt="...">
              </div>
              <div class="profile-content">
                  <h3>{{influencer.fname}} {{influencer.lname}}</h3>
                  <p><a href="#">{{influencer.email}}</a></p>
              </div>
          </div>
      </div>

      <div class="container primary-button-container col-6">
          <div class="row">
            <button routerLinkActive="activeLinkClass" [routerLinkActiveOptions]= "{exact:true}" routerLink="/edit-influencer" class=" primary-button" id="editProfileBtn">
              Edit your Profile
            </button>
          </div>
        </div>


      <!-- Page content -->
      <div class="info">


          <!-- About & Industry Section -->
          <div class="row">
              <!-- <div class="col-sm-6 col-lg-8">
                  <div class="card mb-3 ">
                      <div class="card-header card-header-style">
                          <b class="float-start">About</b>
                      </div>
                      <div class="card-body p-3 bg-color">
                          <p class="card-text navy-color">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                              Necessitatibus
                              aspernatur suscipit est! Impedit officia blanditiis excepturi rem? Ducimus reprehenderit
                              pariatur eius soluta modi autem saepe, in, debitis iste officiis exercitationem?.</p>
                      </div>
                  </div>
              </div> -->
              <div class="col-sm-6 col-lg-4">
                  <div class="card mb-3 ">
                      <div class="card-header card-header-style">
                          <b class="float-start">Industry</b>
                      </div>
                      <div class="card-body bg-color">
                          <p class="card-text navy-color">{{influencer.occupation}}</p>
                      </div>
                  </div>
              </div>
          </div>


          <!-- ContactInformation Section -->
          <div class="card text-center my-5">
              <div class="card-header card-header-style">
                  <b class="float-start">Contact-Information</b>
              </div>
              <section class="white-section" id="features">
                  <div class="container-fluid">
                      <div class="row p-3 bg-color">
                          <div class="feature-box col-sm col-6">
                              <i class="orange-color bi bi-geo-alt" style="font-size: 2rem;"></i>
                              <p class="navy-color">{{influencer.country}}</p>
                          </div>

                          <div class="feature-box col-sm col-6">
                              <i class="orange-color bi bi-phone" style="font-size: 2rem;"></i>
                              <p class="navy-color">{{influencer.phone}}</p>
                          </div>

                          <div class="feature-box col-sm col-6">
                              <i class="orange-color bi bi-envelope-check" style="font-size: 2rem;"></i>
                              <p class="navy-color">{{influencer.email}}</p>
                          </div>

                          <div class="feature-box col-sm col-6">
                              <i class="orange-color bi bi-facebook" style="font-size: 2rem;"></i>
                              <p class="navy-color">{{influencer.facebook}}</p>
                          </div>

                          <div class="feature-box col-sm col-6">
                              <i class="orange-color bi bi-instagram" style="font-size: 2rem;"></i>
                              <p class="navy-color">{{influencer.instagram}}</p>
                          </div>
                          <!-- <div class="feature-box col-sm col-6">
                              <i class="orange-color bi bi-tiktok" style="font-size: 2rem;"></i>
                              <p class="navy-color">angelica.35</p>
                          </div>
                          <div class="feature-box col-sm col-6">
                              <i class="orange-color bi bi-youtube" style="font-size: 2rem;"></i>
                              <p class="navy-color">angelica.35</p>
                          </div> -->
                      </div>
                  </div>
              </section>
          </div>


          <!-- PersonalInformation Section -->
          <div class="card text-center my-5 ">
              <div class="card-header card-header-style">
                  <b class="float-start">Personal-Information</b>
              </div>
              <section class="white-section" id="features">
                  <div class="container-fluid">
                      <div class="row p-3 bg-color">
                          <div class="feature-box col-sm col-6">
                              <i class="orange-color bi bi-calendar-heart" style="font-size: 2rem;"></i>
                              <p class="navy-color">{{influencer.age}}</p>
                          </div>

                          <div class="feature-box col-sm col-6">
                              <i class="orange-color bi bi-gender-female" style="font-size: 2rem;"></i>
                              <p class="navy-color">{{influencer.gender}}</p>
                          </div>
<!-- 
                          <div class="feature-box col-sm col-6">
                              <i class="orange-color bi bi-globe2" style="font-size: 2rem;"></i>
                              <p class="navy-color">Egyptian</p>
                          </div> -->

                          <!-- <div class="feature-box col-sm col-6">
                              <i class="orange-color bi bi-info" style="font-size: 2rem;"></i>
                              <p class="navy-color">Married</p>
                          </div> -->

                          <div class="feature-box col-sm col-6">
                              <i class="orange-color bi bi-info" style="font-size: 2rem;"></i>
                              <p class="navy-color">{{influencer.children}}</p>
                          </div>

                          <!-- <div class="feature-box col-sm col-6">
                              <i class="orange-color bi bi-info" style="font-size: 2rem;"></i>
                              <p class="navy-color">Has pets</p>
                          </div> -->
                      </div>
                  </div>
              </section>
          </div>
      </div>
  </div>
</div>
