
<div class="campaignsContainer">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="Cname">Campaign</th>
        <th>Type</th>
        <th>Privacy</th>
        <th>Start Date</th>
        <th>Country</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody class="table-group-divider">
      <tr *ngFor="let completedCampaign of completedCampaigns.data">
        <td>{{completedCampaign.title}}</td>
        <td>{{completedCampaign.type}}</td>
        <td>{{completedCampaign.privacy}}</td>
        <td>{{completedCampaign.created_at}}</td>
        <td>{{completedCampaign.country}}</td>
        <td class="actions">

          <button class="iconBtn" routerLinkActive="activeLinkClass" [routerLinkActiveOptions]= "{exact:true}" routerLink="/campaigns/{{completedCampaign.id}}"><b>i</b></button>
          <button class="iconBtn" routerLinkActive="activeLinkClass" [routerLinkActiveOptions]= "{exact:true}" routerLink="/update-campaign/{{completedCampaign.id}}">E</button>
          <button class="iconBtn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal1">M</button>
        </td>

        <td class="actionsCollapse">
          <div class="btn-group dropstart">
            <i class="bi bi-three-dots" data-bs-toggle="dropdown" aria-expanded="false"></i>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLinkActive="activeLinkClass" [routerLinkActiveOptions]= "{exact:true}" routerLink="/campaigns/{{completedCampaign.id}}">Info</a></li>
              <li><a class="dropdown-item" routerLinkActive="activeLinkClass" [routerLinkActiveOptions]= "{exact:true}" routerLink="/update-campaign/{{completedCampaign.id}}">Edit</a></li>
              <li><a class="dropdown-item" href="#">Move</a></li>
            </ul>
          </div>
        </td>

      </tr>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Move Campaign</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Choose your Campaign Status.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Pending</button>
              <button type="button" class="btn btn-primary">Completed</button>
              <button type="button" class="btn btn-primary">Drafts</button>

            </div>
          </div>
        </div>
      </div>

    </tbody>
  </table>
</div>
