/* @import '../node_modules/.bootstrap-icons-nUzIi10i/font/bootstrap-icons.css'; */
@import url("../node_modules/bootstrap-icons/font/bootstrap-icons.css");
/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins" sans-serif;
}
