a:hover{
  color: #FA991C !important;
}
* {
  font-size: 14px;
}

thead {
  height: 50px;
  vertical-align: text-top;
  line-height: 25px;
}

body {
  align-items: center;
  justify-content: center;
  background-color: #032539;
  overflow: hidden;
}

thead {
  color: #032539;
}

tbody {
  background-color: white;
  color: #032539;
}

td{
text-transform:capitalize;
}

.table-group-divider {
  border-color: #032539;
}

.campaignsContainer {
  padding: 50px 45px 45px 45px;
  background-color: #ffffff;
  border-radius: 0px 15px 15px 0px;
}

.iconBtn {
  color: white;
  border: none;
  border-radius: 7px;
  width: 23px;
  height: 23px;
  margin: 0px 3px;
  background-color: #fa991c;
}

.iconBtn:hover {
  color: #032539;
  background-color: white;
  box-shadow: 1px 1px 3px 1px lightgrey;
  transform: scale(1.2);
  transition: 0.1s;
  font-weight: bold;
}

.actionsCollapse {
  display: none;
}

.dropdown-item:active {
  background-color: #fa991c;
  color: white;
}

.bi-three-dots {
  font-size: 17px;
  text-align: center;
  text-shadow: 0.5px 0.5px 0px #032539;
  background: #ccc;
  padding: 3px 6px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.bi-three-dots:hover {
  color: #032539;
  text-shadow: none;
  background-color: white;
  box-shadow: 1px 1px 3px 1px lightgrey;
  transform: scale(1.1);
  transition: 0.1s;
  font-weight: bold;
}

ul.dropdown-menu.show {
  min-width: 90px !important;
}

.dropdown-item:hover {
  min-width: 90px !important;
  background-color: #fa991c;
  border-radius: 3px;
  transform: scale(1.11);
  color: white;
}
.h1{
  font-size:xxx-large;

}


@media screen and (max-width: 991px) {
  .campaignsContainer {
    border-radius: 15px;
    padding: 5px;
  }
}

@media screen and (max-width: 729px) {
  .campaignsContainer {
    border-radius: 15px;
    padding: 10px;
  }

  .actions {
    display: none;
  }

  .actionsCollapse {
    display: block;
  }

  th {
    font-size: smaller;
    border: none;
  }
}

@media screen and (min-width: 991px) {
  .campaignsContainer {
    min-height: 300px;
  }
}


@media screen and (min-width: 991px) {
  .campaignsContainer {
    min-height: 300px;
  }
}

@media screen and (max-width: 510px) {
  .campaignsContainer {
    border-radius: 15px;
    padding: 5px;
  }

  .actions {
    display: none;
  }

  .actionsCollapse {
    display: block;
  }

  th {
    font-size: smaller;
    border: none;
  }

  thead {
    display: inline-block;
  }

  tbody {
    display: inline-block;
  }
}
