
  <div class="campaignsContainer">
    <table *ngIf="drafts.data != 0" class="table table-hover">
      <thead>
        <tr>
          <th class="Cname">Campaign</th>
          <th>Type</th>
          <th>Privacy</th>
          <th>Start Date</th>
          <th>Country</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody class="table-group-divider">
        <tr *ngFor="let c of drafts.data">
          <td>{{c.title}}</td>
          <td>{{c.type}}</td>
          <td>{{c.privacy}}</td>
          <td>{{c.start_date}}</td>
          <td>{{c.country}}</td>
          <td class="actions">

            <button class="iconBtn" routerLinkActive="activeLinkClass" [routerLinkActiveOptions]= "{exact:true}" routerLink="/campaigns/{{c.id}}"><b>i</b></button>
            <button class="iconBtn" type="button" data-bs-toggle="modal" data-bs-target="#statusModal-d" id="{{c.id}}" (click)="passIdToModal(c.id)">M</button>
            <button class="iconBtn" type="button" data-bs-toggle="modal" data-bs-target="#confirmDelete" id="{{c.id}}" (click)="passIdToModal(c.id)">D</button>

          </td>

          <td class="actionsCollapse">
            <div class="btn-group dropstart">
              <i class="bi bi-three-dots" data-bs-toggle="dropdown" aria-expanded="false"></i>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLinkActive="activeLinkClass" [routerLinkActiveOptions]= "{exact:true}" routerLink="/campaigns/{{c.id}}">Info</a></li>
                <li><a class="dropdown-item move" data-bs-toggle="modal" data-bs-target="#statusModal-d" id="{{c.id}}" (click)="passIdToModal(c.id)">Move</a></li>
                <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#confirmDelete" id="{{c.id}}" (click)="passIdToModal(c.id)">Delete</button></li>
              </ul>
            </div>
          </td>
        </tr>

  <!-- Delete Modal -->
  <div class="modal fade" id="confirmDelete" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header mx-3 mt-4">
          <h1 class="modal-title fs-5" id="confirmDeleteLabel">Are you sure you want to delete this campaign?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer  justify-content-center mb-4 mx-3 gap-2">
          <button type="button" data-bs-dismiss="modal" class="btn statusBtn">No</button>
          <button type="button" data-bs-target="#deleteConfirmed" data-bs-toggle="modal" class="btn pendingBtn" (click)="DeleteCampaign(target_id)">Yes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal 2-->
  <div class="modal fade" id="deleteConfirmed" aria-hidden="true" aria-labelledby="deleteConfirmedLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="text-center mt-5 mb-3 mx-3">
          <h4 id="deleteConfirmedLabel">Campaign deleted was changed successfully</h4>
        </div>
        <div class="text-center mb-4 mx-3 gap-2">
          <button type="button" data-bs-dismiss="modal" class="btn statusBtn" (click)="reloadPage()">Close</button>
        </div>

      </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="statusModal-d" tabindex="-1" aria-labelledby="statusModal-dLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header mx-3 mt-4">
          <h1 class="modal-title fs-5" id="statusModal-dLabel">Move Campaign</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body fs-6 mx-3">
          Select the campaign's status
        </div>
        <div class="modal-footer  justify-content-center mb-4 mx-3 gap-2">
          <button type="button" data-bs-target="#confirmAction-d" data-bs-toggle="modal" class="btn  pendingBtn" (click)="changeToPending(target_id)">Pending</button>
          <button type="button" data-bs-target="#confirmAction-d" data-bs-toggle="modal"class="btn statusBtn" (click)="changeToCurrent(target_id)">Current</button>
          <button type="button" data-bs-target="#confirmAction-d" data-bs-toggle="modal" class="btn statusBtn" (click)="changeToCompleted(target_id)">Completed</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 2-->
  <div class="modal fade" id="confirmAction-d" aria-hidden="true" aria-labelledby="confirmAction-dLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="text-center mt-5 mb-3 mx-3">
          <h4 id="confirmAction-dLabel">Campaign Status was changed successfully</h4>
        </div>
        <div class="text-center mb-4 mx-3 gap-2">
          <button type="button" data-bs-dismiss="modal" class="btn statusBtn" (click)="reloadPage()">Close</button>
        </div>

      </div>
    </div>
  </div>

      </tbody>
    </table>
    <div class="noRecords" *ngIf="drafts.data == 0">
      <p>No records to display</p>
    </div>
  </div>

